#desc-doc{
    
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #f4f7f8;
    font-weight: 700;    
    color: rgb(110, 223, 238);
}

#servicios{
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-size: 22px;
    line-height: 25px;
    background-color: rgb(110, 223, 238);
    text-align: left;
    word-wrap: break-word;
}

h5{
    color: rgb(0, 110, 255);
}

#contact{
    
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-size: 220px;
    background-color: rgb(202, 135, 47);
    text-align: left;
    word-wrap: break-word;
}


.image-icon-whatsapp{
    position: fixed;
    bottom: 20px;
    right: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.image-icon-whatsapp:hover{
    transform: scale(0.9);
}

.image-icon-whatsapp:active{
    transform: scale(0.8);
}

.formulariowtsp{
    width: 290px;
    height: 320px;
    background:orange;
    border-radius: 5px;
    position: absolute;
    bottom: 90px;
    right: 60px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.22);
    background:white;
    padding: 15px 10px;
    display: none;
    position: fixed;
}

.inputwts{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-family: arial;
    font-size: 13px;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,0.19);
    color: #666;


}

.inputwts:focus{
    outline: none;
}

.textareawts{
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    height: 140px;
    max-height: 140px;
    min-height: 140px;
    font-family: arial;
    font-size: 13px;
    border-radius: 5px;
    padding: 5px;
    border:1px solid rgba(0,0,0,0.19);
    color: #666;


}

.textareawts:focus{
    outline: none;
}

.newmessagewts{
    font-family: arial;
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    line-height: 10px;
}
.btnwtsp{
    width: 100%;
    border: none;
    padding: 5px;
    background: #00a82d;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

label{
    font-family: arial;
    font-size: 14px;
    color: #333333;
}

.entrarysalir{
    display: block;
}
.closemodal{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background: #00a82d;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    line-height: 15px;
    cursor: pointer;
}