#desc-doc{
    
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #f4f7f8;
    font-weight: 700;    
    color: rgb(96, 157, 226);
}
